

body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

body{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: whitesmoke;
    padding: 25px 50px;
    gap:25px
}

header{
    background-color:white;
    border:1px solid rgb(0, 104, 104);
    border-radius:10px ;
    color:rgb(0, 104, 104);

    grid-column: 1 / 9;
    display:grid;
    grid-template-columns: 1fr 10fr;
    justify-items: center;
    align-items: center;
    padding: 25px 10px;
}
nav{
   display: flex;
   flex-direction: column;
 background-color:white;
    border:1px solid rgb(0, 104, 104);
    border-radius:10px ;
    color:rgb(0, 104, 104);
    gap: 25px;
    font-size: 16px;
    padding: 3px;
}
a{
    text-decoration: none;
    color:white;
    background-color: rgb(0, 104, 104);
    border-radius:5px;
    padding: 5px;
    text-align: center;
    width: 50%;
    transition-duration: 0.5s;
}
a:hover{
    align-self: flex-end;
    transition-duration: 0.5s;
}
main{
    grid-column: 2/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items:center
}
main img{
    width: 75%;
    height: auto;
    border-radius:10px;
    border:0.5px solid rgb(0, 104, 104)
}
footer{
    grid-column: 1/9;
    background-color:white;
    border:1px solid rgb(0, 104, 104);
    border-radius:10px ;
    color:rgb(0, 104, 104);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
aside{
    grid-column: 7/9;
    background-color:white;
    border:1px solid rgb(0, 104, 104);
    border-radius:10px ;
    color:rgb(0, 104, 104);
    writing-mode: vertical-lr;
    display: grid;
    justify-items: center;
    align-items:center;
    font-size: xx-large;
}
.info-block{
    display: grid;
    justify-items:center ;
    align-items:center;
    width: 100px;
    padding-top: 20px;
    background-color:white;
    border:1px solid rgb(0, 104, 104);
    border-radius:10px ;
    color:rgb(0, 104, 104);
}
.info-block p{
    text-align: center;
}
.aside-maket2{
    display: none;
    writing-mode: horizontal-tb;
    grid-column: 1/9;
}
p>span{
    text-decoration: line-through;
}
@media (max-width:760px) {
    .aside-maket2{
        display: grid;

    }
    .aside-maket1{
        display: none;
    }
    main{
        grid-column: 2/9;
    }
    body{
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width:500px) {
    .aside-maket2{
        display: none;

    }
    .aside-maket1{
        display: none;
    }
    main{
        grid-column: 1/9;
        grid-template-columns: 1fr 1fr;

    }
    nav{
        grid-column: 1/9;
        flex-direction: row;
    }
}